.header {
  background-color: royalblue;
  position: sticky;
  top: 0;
  z-index: 10;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2em;
}

.game_container {
  margin-top: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;

  max-width: 75%;
  height: auto;
  padding: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card_container {
  display: flex;
  flex-direction: row;

  position: relative;
}

.cards {
  max-height: 10rem;
  max-width: 10rem;
  padding-left: 1rem;
}

.hand_container {
  margin: 1rem;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.total {
  padding-bottom: 1rem;
  padding-top: 2rem;
  margin: 1rem;
  height: 2rem;
  text-align: center;
  border: 1px solid black;
  position: relative;
}

.buttons {
  display: inline-flex;
  justify-content: center;
  padding-left: 1rem;
}

.button {
  padding: 1rem;
  min-width: 7rem;
  margin: 1rem;
}
